@import "_vars.sass"

header
    span.cx-logo
        transition: 1s

        &:hover
            cursor: pointer

        a
            text-decoration: none

span.cx-dark
    opacity: 0.5
    font-weight: normal

form.cx
    fieldset
        border: none

    button
        padding: 1rem
        min-width: 100px

        border: none
        background: $button
        
        font-size: 1rem
        border-radius: 10px

        &:hover
            cursor: pointer

        &:active
            opacity: 0.8

    input[type="range"]
        height: 25px
        opacity: 0.7
        position: relative
        top: 10px

        &:hover
            opacity: 1

        &::-webkit-slider-thumb
            width: 25px
            height: 25px
            cursor: pointer

        &::-moz-range-thumb
            width: 25px
            height: 25px
            cursor: pointer

    div.cx-input-container
        display: grid
        grid-template-columns: 20% 20% 20%

        div.cx-input-box
            margin-right: 1rem
            margin-bottom: 1rem

            label.cx-label
                font-weight: bold

@media (max-width: 1500px)
    div.cx-input-container
        grid-template-columns: 30% 30% !important

@media (max-width: 1000px)
    div.cx-input-container
        grid-template-columns: 40% !important

@media (max-width: 777px)
    div.cx-input-container
        grid-template-columns: 50% 50% !important

    div.cx-globe
        position: static !important

@media (max-width: 530px)
    div.cx-input-container
        grid-template-columns: 40% 30% !important

span.cx-tip
    opacity: 0.8
    
    &:hover
        opacity: 1

table.cx
    text-align: left

    th, td
        padding-right: 2rem
        padding-bottom: 1rem
