<!DOCTYPE html>
<html lang="en" class="cx">
    
    <script src="https://d3js.org/d3.v6.js"></script>
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/stylesheets/base.css">
    <title>🌎 CIDX</title>


</head>

<body class="cx">
    <header>
        <h1>
            <span class="cx-logo">
                <a href="https://onlix.me">🌎</a>
            </span>

            C<span class="cx-dark">ountry</span>I<span class="cx-dark">n</span>D<span class="cx-dark">e</span>X
        </h1>
    </header>
    <main>
        <h2>Configuration</h2>

        <form class="cx" method="POST">
            <div class="cx-input-container">
                {% for slider in sliders %}
                <div class="cx-input-box">
                    <label class="cx-label">{{ slider }}</label>
                    <br>
                    <input id="{{ slider.lower() }}" name="{{ slider.lower() }}" type="range" min="0" value="50"
                        max="500" step="5" oninput="this.nextElementSibling.value = this.value + '%'">
                    <output id="{{ slider.lower() }}-outp"></output>
                    <script>
                        document.getElementById('{{ slider.lower() }}-outp').textContent = document.getElementById('{{ slider.lower() }}').value + '%'
                    </script>
                </div>
                {% endfor %}
            </div>

            <br>
            <button type="submit">Apply</button>
        </form>

        <div class="cx-globe">
            {% include '_globe_scripts.html' %}
            <span class="cx-tip">Scroll to zoom, drag to explore</span>
            <div id="globe3d"></div>
            <script>{% with world_map=world_map %} {% include '_globe.js' %} {% endwith %}</script>
        </div>        
        <br>
        <h2>World Map</h2>

        <svg id="worldmap" width="400" height="300"></svg>
        <script>
            {% include '_worldmap.js' %}
        </script>
        
        <h2>Country Overview</h2>
        <table class="cx">
            <tr>
                <th>Country</th>
                <th>HDI</th>
            </tr>
            <tr>
                <td>Ghana</td>
                <td>China</td>
            </tr>
            <tr>
                <td>0.62</td>
                <td>-1</td>
            </tr>
        </table>    

    </main>

</body>
</html>
